.portfolio-background {
  position: relative; 
  overflow: hidden;
  padding: 50px 0;
  color: #fff; 
}

.portfolio-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/backgroundrealisation.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  filter: blur(6px); 
  z-index: 1;
}

.portfolio-background > * {
  position: relative; 
  z-index: 2; 
}

.portfolio-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  animation: fadeIn 1s ease-in-out;
  padding-bottom: 3rem;
  
  
}


.left-text {
  font-size: 1.2rem;
  line-height: 1.8;
  animation: fadeInLeft 1s ease-in-out;

}

.right-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  animation: zoomIn 1s ease-in-out;
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInLeft 1s forwards;
}

.fade-in-right {
  opacity: 0;
  transform: translateX(50px);
  animation: fadeInRight 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.mt-5 {
  margin-top: 3rem; 
}

.right-text{
  text-align: right;
}
.left-text{
  text-align: left;
}
.section-separator {
  margin-bottom:12rem; 
}
